<section>
  <div class="board">
    <div class="board__scores">
      <app-score [currentScore]="userScore$ | async"></app-score>
      <app-highest-scores [highestScore]="userBestScore$ | async">
      </app-highest-scores>
    </div>

    <div class="board__game">
      <ng-template [ngIf]="startGame$ | async">
        <app-moles (moleClicked)="molePointsHandler($event)"></app-moles>
      </ng-template>

      <button
        class="board__button"
        (click)="startGame()"
        *ngIf="(startGame$ | async) === false"
      >
        Start Game
      </button>
    </div>

    <div class="board__timer">
      <app-timer [timer]="timer"></app-timer>
    </div>
  </div>
</section>
